body{
background-color: gray;
font-family: sans-serif;
margin: 0;
overflow-x: hidden;
}

h2{
  color: red;
}

table{
  width: 100vw;
  margin: 0;
} 

.pasek {
  background-color: orange;
  overflow: hidden;
  text-align: right;
}

.pasek a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 20px;
}

.pasek a:hover {
  background-color: purple;
  color: black;
}

.pasek a.active {
  background-color: #04AA6D;
  color: white;
}

td{
  height: 30vh;
  padding: 0;
  width: 30vw;
  border: 1px solid red;
  box-sizing: border-box;

}


.dupsko{
overflow: hidden;
position: relative;
}

.tlo{
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;

}

.header{
  position: relative;
}

.flexbox{
  display: flex;
  align-items: center;
  flex-direction: column  ;
}